/* Color styles */
$navColor: rgb(12, 124, 236);
$navInactive: black;
$nav-background: white;
$merchant-background: rgb(2, 130, 249);
$text-merch: white;
$text-menu: grey;
$contact-background: #303030;



$font-main: "Bebas Neue", sans-serif;
$font-menu: "Roboto", sans-serif;